@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html{
    background-color: #F6F5F5;
}
body{
    background-color: #F6F5F5
}
.text-blue{
    color: #1687a7;
}
.heading{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 102px;
/* or 150% */


color: #1687A7;
    /* or 150% */


    color: #1687A7;
}
.btn-blue{
    background: #1687A7;
    border: 1px solid #1687A7;
    box-sizing: border-box;
    border-radius: 4.8px;
    color:#fff;
}
.btn-outline-primary{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 160% */

    text-align: center;

    color: #1687A7;
    border: 1px solid #1687A7;
box-sizing: border-box;
border-radius: 4px;

}
.p1{
    border: 1px solid #1687A7;
    box-sizing: border-box;
    border-radius: 4.8px;
}
.p2{
    border: 1px solid #1687A7;
    box-sizing: border-box;
    border-radius: 4.8px;
}
.btn12{
    font-family: 'Poppins';
    font-style: normal;
    
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    text-align: center;

    color: #1687A7;
    border: 1px solid #1687A7;
    box-sizing: border-box;
    border-radius: 4px;
}
.btn1{
    background: #1687A7;
    border: 1px solid #1687A7;
    box-sizing: border-box;
    border-radius: 4.8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 158% */

    text-align: center;

    color: #F6F5F5;
}
.txt-blue{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 39px;
    /* or 150% */


    color: #276678;
}
.my-2-para{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #276678;
}
.footer >p
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 160% */


color: #276678;
}


.footer >p> b{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #276678;

}
.footer{
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.2);
}

hr{
    color: #276678;;
}